<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="content">
    <div class="footerContent">
        <div class="footerLinks">
            <a class="footerLink" href="/">О стране</a>
            <a class="footerLink" href="/history">История</a>
            <a class="footerLink" href="/message">Контакты</a>
        </div>
        <div class="footerCompany">
            <p>&copy; 2024 - Кошачье национальное государство.</p>
        </div>
        <div class="footerPerformance">
            Время загрузки страницы: <span id="loadTime">0</span> мс
        </div>
    </div>
</footer>
</html>


